:root {
 --color-1: black;
 --color-2: white; 
 --color-3: #ececec; 
 --color-4: #1d7bbe; 
}

body {
    margin: 0;
    background-color: var(--color-3);
}

.btn {
    width: 90%;
    display: block;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 1px 1px 4px silver;
    max-width: 380px;
    text-decoration: none;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-btn {
    border: 2px solid;
    background-color: transparent;
    color: var(--color-1);
}

.full-btn {
    background-color: var(--color-1);
    color: var(--color-2);
    border: none;
}

