#signup-form, #login-form {
    position: relative;
    max-width: 300px;
    margin: 20px auto;
}

form {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 4px silver;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form p {
    text-align: center;
}

.form-input {
    border: 2px solid black;
    height: 30px;
    border-radius: 7px;
    width: 250px;
}

.toggle-forms {
    color: var(--color-4);
    border: none;
    cursor: pointer;
}